/* CenteredCard.css */
.first-column2 {
  position: relative;
  padding: 0;
  background-image: url("../../assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(7, 3, 3, 0); 
  height: 450px; 
}


.fm1{
  margin-top: 4%;
}